# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code / VS for Mac
.idea/
.vscode/
*.code-workspace

# OS junk files
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log

# VS generated config
*.vs/